/* Style CSS */
*
{
	margin: 0px;
	padding:0px;
}
body
{
	color: white;
	background-color: silver;
}

header
{
	min-height: 200px;
	color: white;
	text-align: center;
	background-image: url("images/spectre_reflet.jpg");
	background-size: 400px 200px;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat;
	background-color: black;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header h1
{
	font-size: 6em;
}

section
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
nav
{
	color: white;
	border: 2px solid white;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	background-color: black;
}
nav li
{
	list-style-type:none;
}
nav li a
{
	color: white;
	text-decoration: none;
}
nav li a:hover
{
	color: silver;
	text-decoration: underline;
}
article
{
	color: red;
}

footer, footer p
{
	color: orange;
}
