/* Style CSS */
*
{
	margin: 0px;
	padding:0px;
}
body
{
	color: black;
	background-color: white;
}

header
{
	min-height: 200px;
	color: black;
	text-align: center;
	background-image: url("images/spectre_reflet_inverse.jpg");
	background-size: 400px 200px;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat-x;
	background-color: white;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header h1
{
	font-size: 6em;
}

section
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
nav
{
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	background-color: white;
}
nav li
{
	list-style-type:none;
}
nav li a
{
	color: black;
	text-decoration: none;
}
nav li a:hover
{
	color: silver;
	text-decoration: underline;
}
article
{
	margin: 10px;
	padding: 10 px;
	max-width: 75%;
	font-size: 1.8em;
	text-align: justify;
	background-color: white;
	color: black;
}

.image_flottante
{
	float: left;
}
footer, footer p
{
	display: none;
}
